body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dddfee;
  padding: 2rem;
}

body * {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.todo-card {

  margin-top: 40px !important;

  width: 600px;

  padding: 5px 1rem;

  border-radius: 5px;
  border-width: thin;

  box-shadow: 0 0 20px 8px #d0d0d0;

  margin: auto;
}
.todo-card h2 {
  margin: 5px;
}

.form-control:focus {
  border-color: hsla(0, 100%, 50%, 0) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4) !important;
}

.todo-items {
  background-color: #f1f2f7;
  border-radius: 5px;
}

.todo-add , .todo-items , .todo-edit{
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
}
.todo-add{
  padding-left: 0 !important;
}

.todo-add input{
  flex: 10;
}

.todo-add button { 
  flex: 2;
  margin-left: 5px;
}

.todo-list span{
  flex: 10;
  vertical-align: middle;
  margin: auto;
}

.bullet {
  margin: auto;
  color: #0b5ed7;
  font-size: larger;
  margin-right: 5px;
}

.todo-list button{
  flex: 1;
}


.todo-edit input{
  flex: 11;
}

.todo-edit button{
  flex: 1;
}
